<!--
<div class="splash_image_div">
  <img src="assets/Atlas_frontview_2013.jpg"
  <img src="assets/atlas_with_cat_01.png"
      alt="Picture your robot here!"

      class="splash_image">
</div>


<h1 class="header_div">Rent My Robot</h1> -->

<div class="backdrop">
  <div id="main"></div>
</div>

<script>$(RentMyRobot.initialize);</script>
