<style>
  /*.image-container{
    display: block;
    width: 100%
    height: 400px !important;
    overflow: hidden;
    border: 1px solid black;
  }
  .image{
    width: 1900px;
    height: auto;
  }*/


.image-container{
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 494px;
}
.image{
    width: 1900px;
    position: relative;
    left: 50%;
    transform: translate(-50%,-6%)
}

</style>

<div>
	<div class="image-container">
		<img class="image" src="big_dog_beach_1900x640.png">
	</div>
</div>
