<div id="test-video-holder"></div>
<div class='embed-container'>
  <iframe src='http://www.youtube.com/embed/wE3fmFTtP9g' frameborder='0' allowfullscreen></iframe>
</div>
  <span><%=model.escape("video_url")%></span>
