  <div class="box-inner">
    <div class="close-video-button">
      <span class="glyphicon glyphicon-remove"
            aria-hidden="true"></span>
    </div>
    <video class='myVideo1'
           autoplay loop preload="auto"
           id="robot-video"
           >
      <source src="assets/video/<%= model.escape('video_url') %>"
              type="video/mp4">
    </video>
  </div>
