<!-- <div class="box-outer"> -->
  <div class="box-inner">
    <video class='myVideo1'
           autoplay loop preload="auto"
           id="robot-video"

           >
      <!-- <source src="assets/video/mov_bbb.mp4" -->
      <source src="assets/video/big_dog.mp4"
              type="video/mp4">
    </video>
  </div>
<!-- </div> -->
