<strong class="pull-left primary-font">
  <%= robot.escape('title') %>
  <%= comment.escape('title') %>
</strong>
<small class="pull-right text-muted">
  <span class="glyphicon glyphicon-time"></span>7 mins ago
</small>
</br>
<li id='test-li' class="ui-state-default">
  <left><%= comment.escape('body') %></left>
</li>
</br>
