<style media="screen">

.box-outer {
  position: absolute;
  background-color: cornflowerblue;
  height: 400px;
  width: 800px;
}
.box-inner {
  position: relative;
  height: auto;
  width: 50%;
  margin:  15px auto;
  border: 5px solid black;
  min-height: 20px;


}
.my-red{
  width: 80%;

  background-color: red;
  display: block;
}
.my-yellow{
  background-color: yellow;
  display: block;
}

.myVideo1{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: -6px;
  background-color: darksalmon;
  border: 5px solid orange;
}
</style>


<!-- <% if (model) { %>
  <%=model.escape("video_url")%>
<% }else{ %>
  <%= 'no model'%>
<%  };%> -->

<div class="box-outer">
  <div class="box-inner my-red">
  </div>
  <div class="box-inner my-yellow">
  </div>

  <div class="box-inner">
    <video class='myVideo1'
           autoplay loop preload="auto"
           id="robot-video"

           >
      <source src="assets/video/mov_bbb.mp4"
      <!-- <source src="assets/video/big_dog.mp4" -->
              type="video/mp4">
    </video>
  </div>

  <!-- <div class='box-outer my-yellow'>
    <iframe
      class='myVideo1'
      height="100%"
      src="assets/video/mov_bbb.mp4"
      frameborder="10"
      allowfullscreen
      />
  </div> -->

</div>
