<style>

.box-outer {
  position: absolute;
  background-color: cornflowerblue;
  height: 600px;
  width: 900px;
}
.box-inner {
  position: relative;
  width: auto;
  min-height: 60px;
  height: auto;
  margin:  15px 15%;
  border: 5px solid black;
}
.image1{
  position: relative;
  min-width: 20px;
  min-height: 20px;
  height: auto;
  width: 50%;
  margin: 15px auto;
  background-color: green;
  border: 1px solid black;
  display: block;
}
.my-red{
  width: 80%;
  background-color: red;
  display: block;
}
.my-yellow{
  background-color: yellow;
  display: block;
}

.myVideo1{
  position: relative;
  width: 50%;
  height: auto;
  margin: 20px auto;
  margin-bottom: -6px;
  background-color: darksalmon;
  border: 5px solid orange;
  display: block;
}

</style>

<div class="box-outer">
  <div class="box-inner my-red">
  </div>
  <div class="box-inner my-yellow">
    <img src="assets/<%= model.escape('image_url') %>"
         class='image1'>
  </div>

  <div class="box-inner">
    <video class='myVideo1'
           autoplay loop preload="auto"
           id="robot-video"

           >
      <source src="assets/video/big_dog.mp4"
              type="video/mp4">
    </video>
  </div>

      <!-- <source src="assets/video/mov_bbb.mp4" -->

</div>
