<style media="screen">

.box-outer {
  position: absolute;
  background-color: blue;
  height: 400px;
  width: 800px;

}
.box-inner {
  /*display: block;*/
  /*background-color: red;*/
  position: relative;
  height: 50px;
  width: 20px;
  margin: auto;
  /*float: top;*/
}
.my-red{
  background-color: red;
  display: block;
}
.my-green{
  background-color: yellow;
  display: block;
}
</style>


<% if (model) { %>
  <%=model.escape("video_url")%>
<% }else{ %>
  <%= 'no model'%>
<%  };%>

<div class="box-outer">
  <div class="box-inner my-red">
  </div>
  <div class="box-inner my-green">
  </div>

  <div class="box-inner">
    <video autoplay loop preload="auto"
           id="robot-video"
           class="video-playing tc-videoHost my-video-class">
      <source src="assets/mov_bbb.mp4" type="video/mp4">
    </video>
  </div>

  <div class="video-wrapper">
    <video autoplay loop preload="auto" id="robot-video" class="video-playing tc-videoHost my-video-class">
      <source src="assets/mov_bbb.mp4" type="video/mp4">
    </video>
  </div>



</div>
