--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------

<h1 class="header_div">Rent My Robot Index</h1>

<div id="slider-range">slider</div>


<div class="group">
  <div id='map-canvas2'></div>
  <div id='index'>
    <ul id='list-of-robots'></ul>
  </div>
  <div id="test-container-target">put test container here</div>

</div>
--------------------------------
