
--------------------------------
<h1 class="header_div">Rent My Robot Index</h1>


--------------------------------

<div id='above-map'>above map</div>
<div class="group">
  <div id='map-canvas2'>map canvas</div>
  <div id='index'>index
    <ul id='list-of-robots'>list of robots</ul>
  </div>
</div>
--------------------------------
