<div id="container1" class="container-fluid">
  <div id="container2" class="row">
    
    <div id="sidebar-container"></div>

    <div id='left-container'>
      <div id="map-container" class="row"> </div>

      <div id='video-container' class="row">
        <div class='embed-container'>
          <iframe src='http://www.youtube.com/embed/wE3fmFTtP9g' frameborder='0' allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>


  </div>
</div>
