<br>
<br>
<br>

<div id="container1" class="container-fluid">
  <div id="container2" class="row">
    <div id="map-container" class="col-sm-5">


    </div>
    <div id="sidebar-container" class="col-sm-5"></div>

    <div id='video-container' class="col-sm-2">
      <div class='embed-container'>
        <iframe src='http://www.youtube.com/embed/wE3fmFTtP9g' frameborder='0' allowfullscreen>
        </iframe>
      </div>
    </div>

  </div>
</div>
