--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------

<h1 class="header_div">Rent My Robot Index</h1>

  <div id="inner-wrapper">
    <div id="map-container"></div>
    <div id="sidebar-container" </div>
  </div>
--------------------------------
