<br>
<br>
<br>

<div id="container1" class="container-fluid">
  <div id="container2" class="row">
    <div id="map-container" class="col-sm-6"></div>
    <div id="sidebar-container" class="col-sm-6"></div>
  </div>
</div>
