    <div class="robot-index-element-image-div">
      <a href="#/robots/<%= robot.id %>">
        <img src="assets/<%= robot.escape('image_url') %>"
            height=200px
            alt="Picture your robot here1!"
            class="robot-index-image">
      </a>
    </div>
    <div class='robot_image_caption'>
      <center><%= robot.escape('name') %></center>
      <!-- robot id: <%= robot.id %> -->
    </div>
