<div class="container-fluid col-centered" style="max-width: 600px;">
  <div class="content-wrapper">
    <div class="item-container">
      <div class="container">
        <div class="col-md-12 col-centered">
          <div class="product">
            <center>
              <img id="item-display"
                   src="assets/<%= robot.escape('image_url') %>"
                   alt="Picture your robot here1!"
                   class="robot-show-image"
                   >
              </img>
            </center>
          </div>
        </div>
        <div class="col-md-7">
          <div class="product-title"><%= robot.escape('name') %></div>
          <div class="product-desc"><%= robot.escape('description') %></div>
          <hr>
          <div class="product-price">$ <%= robot.escape('price') %></div>
          <hr>
        </div>
      </div>

<div class="container">
    <div class="col-sm-12 text-center">
    <div class="well">
      <h4>Leave a comment...</h4>
    <div class="input-group">
      <input type="text"
             id="userComment"
             class="form-control input-sm chat-input"
             placeholder="Write your message here..." />

      <span class="input-group-btn" onclick="addComment()">
        <a href="#" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-comment"></span>
          Add Comment
        </a>
      </span>

    </div>
    <hr data-brackets-id="12673">
    <center>
      <ul data-brackets-id="12674" id="test-ul" class="list-unstyled ui-sortable text-left" >
      </ul>
    </center>
  </div>
</div>


    </div>
  </div>
</div>
