<div class='main-show-div'>

  <div class="robot-show-left">

    <video class='myVideo1'
           autoplay loop preload="auto"
           id="robot-video"
           >
      <source src="assets/video/<%= robot.escape('video_url') %>"
              type="video/mp4">
    </video>

    <div class="robot-title">
      <div class="product-title"><%= robot.escape('name') %></div>
      <div class="product-desc"><%= robot.escape('description') %></div>
      <hr>
      <div class="product-price">$ <%= robot.escape('price') %></div>
      <hr>
    </div>

  </div>

  <div class="robot-show-right">
    <div class="well">
      <h4>Leave a comment...</h4>
    <div class="input-group">
      <input type="text"
             id="userComment"
             class="form-control input-sm chat-input"
             placeholder="Write your message here..." />

      <span class="input-group-btn" onclick="addComment()">
        <a href="#" class="btn btn-primary btn-sm">
          <span class="glyphicon glyphicon-comment"></span>
          Add Comment
        </a>
      </span>

    </div>
    <hr data-brackets-id="12673">
    <center>
      <ul data-brackets-id="12674" id="test-ul" class="list-unstyled ui-sortable text-left" >
      </ul>
    </center>

  </div>
</div> <!-- main show div -->
