
<h7>Check Boxes</h7>
<h7>Robot Type</h7>


<form action="">
<input type="checkbox" name="vehicle" value="">Industrial<br>
<input type="checkbox" name="vehicle" value="">Consumer<br>
<input type="checkbox" name="vehicle" value="">Research<br>
<input type="checkbox" name="vehicle" value="">Military<br>
<input type="checkbox" name="vehicle" value="">Humanoid<br>
<input type="checkbox" name="vehicle" value="">Aerial<br>
<input type="checkbox" name="vehicle" value="">Other<br>
</form>
