  <div class='filter2a'>
    <span class='filter-label'>Robot Type</span>
  </div>

  <div class='filter2b'>
    <div class='filter-capsule'>

      <div id='checkboxes-couplet' class="col-sm-4">
        <input checked type="checkbox" name="filters[checkboxes][]" value="Industrial"/>  Industrial<br>
        <input checked type="checkbox" name="filters[checkboxes][]" value="Consumer"/>  Consumer<br>
      </div>

      <div id='checkboxes-couplet' class="col-sm-4">
        <input checked type="checkbox" name="filters[checkboxes][]" value="Research"/>  Research<br>
        <input checked type="checkbox" name="filters[checkboxes][]" value="Military"/>  Military<br>
      </div>

      <div id='checkboxes-couplet' class="col-sm-4">
        <input checked type="checkbox" name="filters[checkboxes][]" value="Humanoid"/>  Humanoid<br>
        <input checked type="checkbox" name="filters[checkboxes][]" value="Aerial"/>  Aerial<br>
      </div>

    </div>
  </div>
