
<!-- <h7>Check Boxes</h7>
<h7>Robot Type</h7> -->

<div id='checkboxes-left' class="col-sm-6">
  <form action="">
  <input type="checkbox" name="vehicle" value="">  Industrial<br>
  <input type="checkbox" name="vehicle" value="">  Consumer<br>
  <input type="checkbox" name="vehicle" value="">  Research<br>
  <input type="checkbox" name="vehicle" value="">  Military<br>
  </form>
</div>

<div id='checkboxes-right' class="col-sm-6">
  <form action="">
  <input type="checkbox" name="vehicle" value="">  Humanoid<br>
  <input type="checkbox" name="vehicle" value="">  Aerial<br>
  <input type="checkbox" name="vehicle" value="">  Other1<br>
  <input type="checkbox" name="vehicle" value="">  Other2<br>
  </form>
</div>
