
  <div class='filter2a filter'>
    <span class='filter-label'>Robot Type</span>
  </div>
  <div class='filter2b filter'>

    <div class='filter-capsule'>
      <div id='checkboxes-left' class="col-sm-4">
        <form action="">
        <input type="checkbox" name="tbd" value="">  Industrial<br>
        <input type="checkbox" name="tbd" value="">  Consumer<br>
        </form>
      </div>

      <div id='checkboxes-right' class="col-sm-4">
        <form action="">
          <input type="checkbox" name="tbd" value="">  Research<br>
          <input type="checkbox" name="tbd" value="">  Military<br>
        </form>
      </div>

      <div id='checkboxes-right' class="col-sm-4">
        <form action="">
        <input type="checkbox" name="tbd" value="">  Humanoid<br>
        <input type="checkbox" name="tbd" value="">  Aerial<br>
        </form>
      </div>

  <!-- <div class='separator-bar'>
    <hr noshade width="90%" size="1" align="center">
  </div> -->
  </div>
</div>
