<form id="filters-container" class="col-sm-12">
  <!-- hidden input to acccept calculated data so that it can be send to the
  controller when the form is submitted -->
  <input type="hidden" id="slider-min" value="sent from view" name="filters[slider-min]">
  <input type="hidden" id="slider-max" value="sent from view" name="filters[slider-max]">
</form>

<div id="robot-list-container" class="col-sm-12"></div>
