<div id='slider-div row'>

<div>
  <hr noshade width="90%" size="1" align="center" class='separator-bar'>

  <div>
    <div class='filter1a'>
      <span class='filter-label'>Dates</span>
    </div>


    <div class='filter1b'>
      put filter here
    </div>

  <hr noshade width="90%" size="1" align="center" class='separator-bar'>

  </div>


  <div class='filter2a'>
    <span class='filter-label'>Robot Type</span>
  </div>

  <div class='filter2b'>
    put filter here
  </div>


  <div class='filter3a'>
    <span class='filter-label'>Robot Type</span>
  </div>

  <div class='filter3b'>
    put filter here
  </div>
</div>


  <div id='slider-range' class='col-sm-12'></div>
</div>
