<div id='slider-div row'><div>

  <div class='sdffilter-capsule' height="1px">
    <hr noshade width="90%" size="1" align="center">
  </div>

  <div class='filter-capsule' >
    <div class='filter3a'>
      <span class='filter-label'>Price Range</span>
    </div>
    <div class='filter3b'>
      <div id='slider-range' class='col-sm-12'></div>
      <div class='row'>
        <span class='col-sm-1' id='min-price'></span>
        <div class='col-sm-10'></div>
        <span class='col-sm-1' id='max-price'></span>
      </div>
    </div>
  </div>

</div>
