<div id='slider-div row'>

  <div>
   <label for="amount">Selected price range:</label>
   <input type="text" id="amount" readonly style="border:0;
   color:#f6931f; font-weight:bold;">
  </div>

  <div id='slider-range' class='col-sm-12'></div>
</div>
