<div id='slider-div row'><div>

  <div class='sdfcheckboxes-capsule' height="1px">
    <hr noshade width="90%" size="1" align="center" class='my-hr'>
  </div>

  <div class='xxxcheckboxes-capsule' >
    <div class='filter3a'>
      <span class='filter-label2'>Price Range </span>
    </div>
    <div class='filter3b'>
      <!-- Create hidden input boxes and write to them when the slider value change.
      These changes will be picked up in the form.s event change and the values
      that were just written will get sent to the controller which will use them
      to filter the data from the database -->

      <!-- qqq What do I put for my values fields so that serializeJSON will pick up the values? -->
      <input type="hidden" name="slider_min_value" id="slider_min_value" />
      <input type="hidden" name="slider_max_value" id="slider_max_value" />

      <div id='slider-range' class='col-sm-12'></div>
      <div class='row'>
        <span class='col-sm-1' id='min-price'></span>
        <div class='col-sm-10'></div>
        <span class='col-sm-1' id='max-price'></span>
      </div>
    </div>
  </div>

</div>
