/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.slider
 *= require_self
 */

 @import "bootstrap";

 //By default, the map will resize itself to fill its container. If you try to put the
 //map in an empty <div>, it may not show up (since the <div> has collapsed itself). I
 //have the following lines in my application.css to make sure the map shows up.

//index view
 #index {
   float: left;
 }
 #main {
   top: 51px;
   position: relative;
   margin: auto;
 }

//main
 #container1 {
   background-color: red;
 }
 #container2 {
   background-color: red;
 }
 #sidebar-container {
   padding: 0px;
   background-color: white;
  //  width: 770px;
   position: relative;
   float: left;
 }

 .search-item-list {
   background-color: white;
   float: top;
   margin: 0px;
   height: 90vh;
   overflow-y: scroll;
 }
 .robot-index-element-wrapper {
  // background-color: red;
  display: inline-block;
  // margin: 15px;
  padding: 15px;
  width: 50%;
  float: top;
 }
 .separator-bar {
  border-color: #123455;
  background-color: #123455;
  color: #123455;
 }
/////////////// robot index image element
 .robot-index-element-caption {
   background-color: red;
   float: top;
 }
 .robot-index-element-image-wrapper {
  background-color: cornflowerblue;
  display: inline-block;
  float: top;
  border-style: solid;
  width: 100%;
  border-width: 1px;
 }
 .robot-index-image {
    width: 100%;
    height: auto;
 }
 .robot-show-image {
  width: 100%;
 }
 .robot-index-element-details {
   background-color: white;
   float: top;
   font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Times New Roman", Georgia, Serif;

 }
 /////////////// image overlays
 .overlay-price-text {
   color: rgb(110, 110, 110);
 }
 .overlay-price-box {
   position: absolute;
   width: 95px;
   height: 42px;
   margin-top: -90px;
   color: rgb(255, 255, 255);
   background-color: rgba(55, 55, 55, 0.85);
 }
 .overlay-price-symbol {
   position: absolute;
   margin-left: 7px;
   margin-top: 8px;
 }
 .overlay-price-value {
   margin-top: 7px;
   margin-left: 20px;
 }

 /////////////// video stuff
 .embed-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
   max-width: 100%;
   height: auto; }
.embed-container iframe, .embed-container object,
.embed-container embed {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
 #video-container {
   padding: 0px;
   padding-left: 0px;
   margin: 0px;
 }
 #right-container {
   position: relative;
   float: left;
   padding: 0px;
   padding-left: 0px;
   margin: 0px;
 }

 /////////////// slider stuff


 .checkBoxesInnerWrapper {
   position: relative;
   min-height: 10px;
   height: 100%;
 }
 #check-boxes-container {
   float: top;
   background-color: green;
   padding: 0px;
  //  margin-bottom: 50px;
 }
 #checkboxes-couplet {
   float: left;
   background-color: #EDEFED;
   border: 1px solid #DDE0E0;
   padding: 10px;
   margin: 10px;
   width: 25%;
   white-space: nowrap;

 }
 .filter2a {
  //  background-color: coral;
   background-color: white;
   height: 80px ;
   width: 15%;
   float: left;
   padding: 10px;
 }
 .filter2b {
   background-color: white;
  //  background-color: bisque;
   height: 80px;
   width: 85%;
   float: left;
   position: relative;
 }
.filter-capsule {
  position: absolute;
  height: 60px;
  width: 100%;
  // white-space: nowrap;
}
 .filter3a {
   height: 80px;
   padding: 10px;
  //  background-color: coral;
   background-color: white;
   width: 15%;
   float: left;
 }
 .filter3b {
   background-color: white;
  //  background-color: yellow;
   height: 80px;
   width: 85%;
   float: left;
   top: calc(50% - .4em);

 }
 .filter-label {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //  padding: 20px;
   float: top;
   vertical-align: middle;
 }
 .separator-bar {
   margin: 2px;
 }
 .filter-capsule {
   height: auto;
   min-height: 10px;
   position: relative;
 }
 #slider-range {
  top: calc(50% - .4em);
 }
 .slider-capsule {
 }
 ///////////////
 #container2 {
   background-color: ghostwhite;
 }
 #map-container {
   padding: 0px;
   background-color: pink;
   margin: 0px;
 }
 #robot-list-container {
   padding: 0px;
   float: left;
   background-color: yellow;
 }
 #robots-list {
   background-color: yellow;
 }
 #robot-item-container {
   float: left;
   background-color: #F5F5F5;
   padding: 0px;
   border-top: 1px solid #DDE0E0;
 }
 #filters-container {
   float: top;
   background-color: white;
  //  padding: 15px;
 }
 #slider-container {
   float: top;
   background-color: white;
  //  background-color: orange;
   padding: 0px;

 }


 html, body, #map-canvas {
   height: 310px;
   margin: 0;
   padding: 0;
 }

 * {
   font-family: helvetica;
 }

 h3, p {
   margin: 1em;
 }


.col-centered{
   float: none;
   margin: 0 auto;
 }
