/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery.ui.slider
 *= require_self
 */

 @import "bootstrap";

 //By default, the map will resize itself to fill its container. If you try to put the
 //map in an empty <div>, it may not show up (since the <div> has collapsed itself). I
 //have the following lines in my application.css to make sure the map shows up.

//index view
 #index {
   float: left;
 }

//main
 #container1 {
   background-color: bisque;
 }
 .sidebar-class {
   background-color: yellow;
   float: top;
   margin: 0px;
   max-width: 645px;
 }
 .robot-index-element-wrapper {
  background-color: red;
  display: inline-block;
  margin: 15px;
  float: top;
 }
 .separator-bar {
  border-color: #123455;
  background-color: #123455;
  color: #123455;
 }
/////////////// robot index image element
 .robot-index-element-caption {
   background-color: red;
   float: top;
 }
 .robot-index-element-image-wrapper {
  background-color: cornflowerblue;
  display: inline-block;
  float: top;
  border-style: solid;
  border-width: 1px;
  // width: 190px;
 }
 .robot-index-image {
  //  max-width: 80%;
  width: 190px;
   height: auto;
 }
 .robot-index-element-details {
   background-color: white;
   float: top;
   font-size: 16px;
  //  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: "Times New Roman", Georgia, Serif;

 }
 /////////////// slider stuff

 .filter2a {
   background-color: coral;
   height: 80;
   width: 15%;
   float: left;
   padding: 10px;
 }
 .filter2b {
   background-color: bisque;
   height: 80;
   width: 85%;
   float: left;
   position: relative;
 }

.filter2b.filter2b {
  position: relative;
  height: 60px;
}

.filter2b > .filter-capsule {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  height: 60px;
  width: 100%;
  white-space: nowrap;
}

 .filter3a {
   height: 80px;
   padding: 10px;
   background-color: coral;
   width: 15%;
   float: left;
 }
 .filter3b {
   background-color: yellow;
   height: 80px;
   width: 85%;
   float: left;
   top: calc(50% - .4em);

 }
 .filter-label {
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //  padding: 20px;
   float: top;
   vertical-align: middle;
 }
 .separator-bar {
   margin: 2px;
 }
 .filter-capsule {
   height: auto;
   min-height: 10px;
   position: relative;
 }
 #slider-range {
  top: calc(50% - .4em);
 }
 .slider-capsule {
  //  margin-top: 40px;
  //  margin-bottom: 20px;
  //  vertical-align: middle;
 }
 ///////////////
 #container2 {
   background-color: ghostwhite;
 }
 #map-container {
   padding: 0px;
   background-color: pink;
   max-width: 600px;

 }
 #sidebar-container {
   padding: 0px;
   background-color: red;
   height: 800px;
   overflow-y: scroll;
 }
 #robot-list-container {
   padding: 0px;
   float: left;
   background-color: yellow;
 }
 #robots-list {
   background-color: yellow;
 }
 #robot-item-container {
   float: left;
   background-color: #F5F5F5;
   padding: 0px;
   border-top: 5px;
   border-top: 1px solid #DDE0E0;
 }
 #filters-container {
   float: top;
   background-color: white;
  //  padding: 15px;
 }
 #slider-container {
   float: top;
   background-color: orange;
   padding: 0px;

 }
 #check-boxes-container {
   float: top;
   background-color: green;
   padding: 0px;
 }
 #checkboxes-left {
   float: left;
   background-color: coral;
 }
 #checkboxes-right {
   float: left;
   background-color: cornflowerblue;
 }
 html, body, #map-canvas {
   height: 500px;
   margin: 0;
   padding: 0;
 }

 * {
   font-family: helvetica;
 }

 h3, p {
   margin: 1em;
 }
