/////////////// slider stuff

.checkBoxesInnerWrapper {
  position: relative;
  min-height: 10px;
  height: auto;
  overflow: hidden; // I'm not sure why this works.
  // height: 100%;
}
#check-boxes-container {
  float: top;
  background-color: green;
  padding: 0px;
  border: 2px solid green;
}
#checkboxes-couplet {
  float: left;
  background-color: #EDEFED;
  border: 1px solid #DDE0E0;
  padding: 10px;
  margin: 10px;
  width: 25%;
  white-space: nowrap;

}
.filter2a {
  position: relative;
  background-color: white;
  height: 80px ;
  // height: 80px ;
  // width: 80px;
  width: 15%;
  float: left;
  background-color: red;
  border: 1px solid orange;
}
.filter2b {
  position: relative;
  background-color: white;
  height: 80px;
  width: 85%;
  float: left;
  margin: 0;
}

.filter3a {
  height: 80px;
  // padding: 10px;
  background-color: white;
  width: 15%;
  float: left;
}
.filter3b {
  background-color: white;
  height: 80px;
  width: 85%;
  float: left;
  top: calc(50% - .4em);

}
.filter-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // float: top;
  // vertical-align: middle;
  background-color: yellow;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;

}
.filtersInnerWrapper{
  height: 500px;
}
.filter-capsule {
  position: relative;
  height: auto;
  min-height: 100px;
}
#slider-range {
 top: calc(50% - .4em);
}
.slider-capsule {
}
///////////////

#filters-container {
  float: top;
  background-color: coral;
  width: 100%;

}
#slider-container {
  float: top;
  background-color: white;
  padding: 0px;
  position: relative;
}
// #filters[checkboxes][]{
//   background-color: black;
// }
