/////////////// slider stuff

.checkBoxesInnerWrapper {
  position: relative;
  min-height: 10px;
  height: 73px;
  overflow: hidden; // I'm not sure why this works.
  background-color: white;
}
#check-boxes-container {
  float: top;
  padding: 0px;
}
#checkboxes-couplet {
  float: left;
  background-color: #EDEFED;
  border: 1px solid #DDE0E0;
  padding: 4px 10px;
  margin: 10px 20px;
  width: 130px;
  white-space: nowrap;

}
.filter2a {
  position: relative;
  background-color: white;
  margin: auto;
  width: 15%;
  float: left;
  height: 100%;
}
.filter2b {
  position: relative;
  background-color: white;
  height: auto;
  width: 85%;
  float: left;
  margin: 0;
}
.filter3a {
  position: relative;
  background-color: white;
  margin: auto;
  width: 15%;
  height: 100%;
  float: left;
}
.filter3b {
  background-color: white;
  height: 100%;
  width: 85%;
  float: left;
  padding: 0 5%;
}
.filter-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.filter-label2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-left: 15px;
  top: 20px;
  transform: translateY(-50%);
}
.filtersInnerWrapper{
  height: auto;
  padding-left: 8px;
}
.checkboxes-capsule {
  position: relative;
  height: auto;
  overflow: hidden; // I'm not sure why this works.
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;

}
#slider-range {
 top: calc(50% - .4em);
 z-index: 0;
}
.slider-capsule {
  height: 60px;
  margin-bottom: 16px;
}
///////////////

#filters-container {
  float: top;
  background-color: white;
  width: 100%;

}
#slider-container {
  float: top;
  background-color: white;
  padding: 0px;
  position: relative;
}
.my-hr{
  margin: 0 auto;
}
.min-price-div{
  position: absolute;
  top: 21px;
  left: -13px;
  // float: left;
}
.max-price-div{
  position: absolute;
  top: 21px;
  right: -10px;
  // float: right;
}
