/////////////// slider stuff

.checkBoxesInnerWrapper {
  position: relative;
  min-height: 10px;
  height: 84px;
  overflow: hidden; // I'm not sure why this works.
}
#check-boxes-container {
  float: top;
  padding: 0px;
}
#checkboxes-couplet {
  float: left;
  background-color: #EDEFED;
  border: 1px solid #DDE0E0;
  padding: 10px;
  margin: 10px;
  width: 120px;
  white-space: nowrap;

}
.filter2a {
  position: relative;
  background-color: white;
  margin: auto;
  width: 15%;
  float: left;
  height: 100%;
}
.filter2b {
  position: relative;
  background-color: white;
  height: auto;
  width: 85%;
  float: left;
  margin: 0;
}

.filter3a {
  height: 80px;
  background-color: white;
  width: 15%;
  float: left;
}
.filter3b {
  background-color: white;
  height: 80px;
  width: 85%;
  float: left;
  top: calc(50% - .4em);

}
.filter-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);

}
.filtersInnerWrapper{
  height: 500px;
}
.checkboxes-capsule {
  position: relative;
  height: auto;
  overflow: hidden; // I'm not sure why this works.
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;

}
#slider-range {
 top: calc(50% - .4em);
}
.slider-capsule {
}
///////////////

#filters-container {
  float: top;
  background-color: coral;
  width: 100%;

}
#slider-container {
  float: top;
  background-color: white;
  padding: 0px;
  position: relative;
}
.my-hr{
  margin: 0 auto;
}
