<<<<<<< HEAD
#map-container {
  padding: 0px;
  background-color: white;
  margin: 0px;
}
#robot-list-container {
  padding: 0px;
  float: left;
  background-color: yellow;
}
#robot-item-container {
  float: left;
  background-color: #F5F5F5;
  padding: 0px;
  border-top: 1px solid #DDE0E0;
=======
#container1 {
  background-color: red;
}
#container2 {
  background-color: red;
}

#sidebar-container {
  padding: 0px;
  background-color: white;
  position: relative;
  float: left;
>>>>>>> new_branch
}
