.robot-index-element-wrapper {
  display: inline-block;
  padding: 0px 15px 15px 0px;
  width: 25%;
  float: top;
 }
.btn-video{
  position: absolute;
  float: right;
  top: -2;
  z-index: 1000;
  display: none;
}

.robot-index-element-wrapper:hover .btn-video{
  display: block;
}

.robot-index-element-image-wrapper {
  background-color: white;
  display: inline-block;
  float: top;
  border-style: solid;
  width: 100%;
  border-width: 1px !important;
  border-color: grey;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
  -moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
  -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
 }
.robot-index-image {
   position: relative;
   width: 100%;
   height: auto;
}
 .robot-index-image:hover {
	opacity: 0.8;
}
.robot-index-element-details {
   background-color: #F5F5F5;
   float: top;
   font-size: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Times New Roman", Georgia, Serif;
 }

////// Overlays
 .overlay-price-text {
   color: rgb(110, 110, 110);
 }
 .overlay-price-box {
   position: absolute;
   width: 95px;
   height: 42px;
   margin-top: -10%;
   color: rgb(255, 255, 255);
   background-color: rgba(55, 55, 55, 0.85);
 }
 .overlay-price-symbol {
   position: absolute;
   margin-left: 7px;
   margin-top: 8px;
 }
 .overlay-price-value {
   margin-top: 7px;
   margin-left: 20px;
 }
 .image-text-container {
   background-color: white;
   height: 100%;
   width: 100%;
   padding-left: 10px;
   padding-top: 6px;
   padding-bottom: 2px;
   border-top: 1px solid grey;
   color: grey;
   white-space: nowrap;
 }
 .robot-info-line-1 {
  box-sizing: border-box;
  color: rgb(86, 90, 92);
  cursor: auto;
  display: block;
  font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  // height: 17px;
  // line-height: 17.6000003814697px;
  margin-top: 6.25px;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  text-rendering: optimizelegibility;
  white-space: nowrap;


   color: rgb(90, 90, 90);
   margin: 0px;
 }
 .robot-info-line-2 {
   color: rgb(150, 150, 150);
   margin-top: 0px;
   margin-left: 10px;
 }



/////move this
 .robot-show-image {
  width: 100%;
 }
