#map-container {
  padding: 0px;
  background-color: white;
  margin: 0px;
}
#robot-list-container {
  padding: 0px;
  float: left;
  background-color: yellow;
}
#robot-item-container {
  float: left;
  background-color: #F5F5F5;
  padding: 0px;
  border-top: 1px solid #DDE0E0;
}
