#map-container {
  padding: 0px;
  background-color: white;
  margin: 0px;
}

#container1 {
  background-color: white;
}
#container2 {
  background-color: white;
}

#sidebar-container {
  padding: 0px;
  background-color: white;
  position: relative;
  float: left;
}

#robot-list-container {
  padding: 0px;
  float: left;
  background-color: yellow;
}
#robot-item-container {
  float: left;
  background-color: rgb(233, 233, 233) !important;
  border-top: 1px solid #DDE0E0;
  padding: 15px 0px 0px 15px;
}
