
.buttons {
  text-align: center;
  margin: 5px;
}

.login-container{
  z-index: 1000;
  position: absolute;
  // top: 325px;
  bottom: 15px;
  left: 50%;
}

.inner-container{
  position: relative;
  left: -50%;
}

// .image-container{
//   position: relative;
// }

.email-input{
  width: 300px;
}
