html, body, section, article,
h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

html, body, #map-canvas {
  height: 90vh;
}

* {
  font-family: helvetica;
}

h3, p {
  margin: 1em;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#index {
  float: left;
}
#main {
  top: 0px;
  position: relative;
  margin: auto;
}
