html, body, #map-canvas {
  height: 90vh;
  margin: 0;
  padding: 0;
}

* {
  font-family: helvetica;
}

h3, p {
  margin: 1em;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#index {
  float: left;
}
#main {
  top: 51px;
  position: relative;
  margin: auto;
}
