.navbar {
  margin-bottom: 0px !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  border-color: transparent !important;
  border-bottom: 1px solid black !important;
}
.navbar-brand {
  color: black !important;
}
