.navbar {
  margin-bottom: 0px !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  border-color: transparent !important;
  border-bottom: 1px solid #DCE0E0 !important;
}
.navbar-brand {
  color: #FF616F !important;
  // color: red !important;
}
.navbar-header{
  height: 44px !important;
}
.my-nav-bar {
  height: 44px !important;

}
