video{
  position: relative;
  width: 100%;
  overflow: hidden;
}


#right-container {
  position: relative;
  float: left;
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
}
#video-container {
  z-index: 10000;
  padding: 0px;
  margin: 50% 0;
  width: 100%;
  height: auto;
  position: absolute;
}
.box-inner {
  position: relative;
  width: 95%;
  min-height: 20px;
  height: auto;
  margin:  15px auto;
  margin:  -50% auto;
  display: block;
}

.myVideo1{
  position: relative;
  width: 100%;
  height: auto;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
}
.close-video-button{
  position: absolute;
  color: black;
  background-color: rgba(50, 50, 50, 0.17);
  border: 2px solid black;
  display: none;
}
