#right-container {
  position: relative;
  float: left;
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
}
#video-container {
  z-index: 10000;
  padding: 0px;
  margin: 50% 0;
  width: 100%;
  height: auto;
  position: absolute;
}
.box-inner {
  position: relative;
  width: 95%;
  min-height: 20px;
  height: auto;
  margin:  15px auto;
  display: block;
}
.myVideo1{
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: -6px;
  background-color: black;
  border: 2px solid black;
}
