#video-container {
  z-index: 10000;
  padding: 0px;
  margin: 50% 0;
  width: 100%;
  height: auto;
  position: absolute;
}
#right-container {
  position: relative;
  float: left;
  padding: 0px;
  padding-left: 0px;
  margin: 0px;
}
