<div>
	<img class="root-banner-image" src="assets/kuka-700x294.png">
</div>

<div class="root-image-overlay-text">
	<div class="root-image-overlay-text-lg">Rent My Robot</div>
	<div class="root-image-overlay-text-sm">Rent My Robot</div>
</div>

<div class="root-intro-text">
	<h2 class="root-intro-text-1">Rent My Robot</h2>
	<div class="root-intro-text-2">"Find your mechatronic life mate."</div>

	<div class=" col-sm-2"></div>
	<div class=" col-sm-4">
		<img src="assets/portland-640x960.png" class="splash-city-image">
		<div class="splash-city-image-text">Portland</div>
	</div>
	<div class=" col-sm-4">
		<img src="assets/portland-640x960.png" class="splash-city-image">
		<div class="splash-city-image-text">San Francisco</div>
	</div>
	<div class=" col-sm-2"></div>
	</div>
</div>
