<div>
	<div class="image-container-root-main">
		<!-- allows for positioning of login box relative to bottom of image -->

		<img class="root-banner-image" src="assets/root_page/big_dog_thai_raw_2070x.png">
		<!-- <img class="root-banner-image" src="assets/root_page/big_dog_beach_1900x640.png"> -->
		<!-- outer container that is positioned absolutely -->
		<div class="login-container">
			<!-- inner container that is relative to help with centering -->
				<div class="inner-container">
				<!-- cute box for buttons -->
				<div class="modal-content">
					<div class="modal-body">

							<div class="form-group email-input">
								<label>Email</label>
								<input id='sign-in-email' type='email' class="form-control" name='user[email]'>
							</div>
							<div class="form-group">
								<label>Password</label>
								<input id='sign-in-password' type='password' class="form-control" name='user[password]'>
							</div>
							<div class="form-group buttons">
								<button id='login-root' class='btn btn-primary modal-submit-btn'>Login</button>
								<button id='glogin-root' class='btn btn-primary modal-submit-btn'>Guest Login</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	.navbar {
	  border-bottom: 1px solid transparent !important;
	}
	.navbar-brand {
	  color: white !important;
	}
</style>

<div class="root-image-overlay-text">
	<div class="root-image-overlay-text-lg">Rent My Robot</div>
	<div class="root-image-overlay-text-sm">Rent the perfect robot!</div>
</div>

<div class="root-intro-text">
	<h2 class="root-intro-text-1">For Whatever Your Robotic Needs</h2>
	<div class="root-intro-text-2">Find a mechatronic helper.</div>

	<div class=" col-sm-4 little-image-overlay-txt">
		<img src="assets/root_page/root_small/asimo_286x431.png" class="splash-city-image">
		<div class="splash-city-image-text">Consumer</div>
	</div>
	<div class=" col-sm-4 little-image-overlay-txt">
		<img src="assets/root_page/root_small/snake02_286x430.png" class="splash-city-image">
		<div class="splash-city-image-text">Research</div>
	</div>
	<div class=" col-sm-4 little-image-overlay-txt">
		<img src="assets/root_page/root_small/big_dog_286x431.png" class="splash-city-image">
		<div class="splash-city-image-text">Consumer</div>
	</div>
	</div>
</div>
